{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia - New
{% endblock %}

{% block body %}
  <form action="/new" method="post">
    {% csrf_token %}
    <h1>Enter title for the new topic</h1>
    <input type="text" class="title-input" name="title" placeholder="Title"></input><br>
    <p>Type entry in <a href="https://guides.github.com/features/mastering-markdown/">Markdown</a> format.</p>
    <textarea name="content" id="content" value="{{ content }}">{{ content }}</textarea><br>
    <button type="submit">Create</button>
  </form>
{% endblock %}